
.dropdown-content{
    display: none;
}
.dropdown-content .text-wrapper{
    display: flex;
    flex-direction: column;
}
.card-body .table-responsive .dropdown-content button{
    background: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    border-radius: .5rem;
}
.card-body .table-responsive .dropdown-content button:hover{
    box-shadow: 0 0 0.8rem rgb(58, 143, 41);
    color: chartreuse;
}
